### PROBLEM STATEMENT

Understand how students performance (testscore) is affected by other variables such as:-

    1.Gender Ethnicity 
    2.Parental level of Education
    3.Lunch
    4.Test prepreation

#### DATA SOURCE

https://www.kaggle.com/datasets/students-performance-in-exams?datasetid=74977

Data consists of * columns and 1000 rows

#### 1. Importing Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#### 1.1 Import  Data

In [5]:
df=pd.read_csv('data/stud.csv')

#### 1.2 Show Top 5 Records

In [6]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### 1.3 Shape of Dataset

In [7]:
df.shape

(1000, 8)

### 2 Dataset Information

gender                     : sex of students -> (male/female)

race/ethnicity             : ethnicity of students -> group A,B,C,D,E

parental level of education: parents final education -> bachelors degree,some college,master's degree,associate's degree,highschool

lunch                      : having lunch before test (standard or free/reduced)

test preparation course    : complete or none

math score	               : marks

reading score	           : marks

writing score              : marks

### 3.0 Data checks to perform
    . Check missing values
    . Check Duplicates
    . Check datatypes
    . Check the number of unique values of each column
    . Check stastics of dataset
    . Check various categories present in the different categorical column

#### 3.1 Check missing values

In [8]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### 3.2 Check Duplicates

In [9]:
df.duplicated().sum()

0

#### 3.3 Check datatypes

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

#### 3.4 Check no of unique values of each column

In [11]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

#### 3.5 Check statistics of dataset

In [13]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

 . From above description of data , all means are very close to each other b/w 66-68.05

 . All std are also close b/w 14.6-15.19
 
 . While min score 0 for math, for writing min is much higher: 10,for reading yet higher : 17